<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_product %><br />
    <%= f.text_field :name_product %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :ingredients %><br />
    <%= f.text_area :ingredients %>
  </div>
  <div class="field">
    <%= f.label :expration %><br />
    <%= f.text_area :expration %>
  </div>
  <div class="field">
    <%= f.label :conservation %><br />
    <%= f.text_area :conservation %>
  </div>
  <div class="field">
    <%= f.label :format %><br />
    <%= f.text_area :format %>
  </div>
  <div class="field">
    <%= f.label :specialformat %><br />
    <%= f.text_area :specialformat %>
  </div>
  <div class="field">
    <%= f.label :preparation %><br />
    <%= f.text_area :preparation %>
  </div>
  <div class="field">
    <%= f.label :moreinfo %><br />
    <%= f.text_area :moreinfo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
