<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Documento sin título</title>
<link href="general.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="contenedor">
  <div class="cabecera">
    <div class="menu">
    <ul>
    <li><a href="index.html">LAKET</a></li>
	 <li><a href="pnpspace.html">PRODUCTOS</a></li>
	 <li><a href="miembros.html">CANALES DE DISTRIBUCIÓN</a></li>
	 <li><a href="pnpschool.html">BLOG</a></li>
     <li><a href="pnpschool.html">CONTACTO</a></li>
    </ul>
    </div>
    <div class="iconos"><a href="https://www.facebook.com/profile.php?id=100002223007512" target="_blank"><img src="images/ico_facebook.png" width="63" height="64" /></a><img src="images/ico_twitter.png" width="63" height="64" /><img src="images/ico_rss.png" width="63" height="64" /></div>
  </div>
  <div class="cuerpo">
    <div class="colleft">
      <div class="imagebig"><img src="images/img_portada.jpg" width="584" height="205" /></div>
      <div class="spacer"></div>
      <div class="titportada">
        <h1>NUESTROS PRODUCTOS</h1>
      </div>
      <div class="textportada"> 
      <h3>El sabor de la tradición</h3>
      <p class="texto">&nbsp;</p>
      <p class="texto">Nullam quis sem ante, quis dapibus elit. Cras cursus purus vitae quam congue sed aliquam ligula iaculis. Sed sollicitudin facilisis magna vel auctor. Proin purus lectus, gravida ac ultricies a, bibendum ut dui. Suspendisse scelerisque lobortis ullamcorper. Sed laoreet luctus suscipit. Curabitur urna ante, commodo in dapibus mattis, facilisis vel tellus. Nunc aliquet egestas sem, nec tempor est imperdiet condimentum. Nam tellus nibh, tristique non placerat eu, ornare vel sem.</p>
        <p class="texto">&nbsp;</p>
        
      <p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis sem ante, quis dapibus elit. Cras cursus purus vitae quam congue sed aliquam ligula iaculis. Sed sollicitudin facilisis magna vel auctor. Proin purus lectus, gravida ac ultricies a, bibendum ut dui. Suspendisse scelerisque lobortis ullamcorper. Sed laoreet luctus suscipit. Curabitur urna ante, commodo in dapibus mattis, facilisis vel tellus.</p> </div>
       <div class="titportada">
        <h1>NUESTROS PRODUCTOS</h1>
      </div>
       
    
    
    
    <div class="galeria">
    <div class="img_galeria"><img src="images/img_portada.jpg" width="184" height="184" /></div>
    <div class="img_galeria"><img src="images/img_portada.jpg" width="184" height="184" /></div>
    <div class="img_galeria2"><img src="images/img_portada.jpg" width="184" height="184" /></div>    
    </div>
    <div class="spacer"></div>
    
    
    
    
    </div>
    <div class="colright">
    <div class="blog">
      <h2>BLOG: ÚLTIMAS ENTRADAS</h2>
      <h4>&nbsp;</h4>
      <h4><a href="tepes">Loren ipsum dolor sit amet</a></h4>
      <p class="textomini">&nbsp;</p>
      <p class="textomini">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis sem ante, quis dapibus elit. Cras cursus purus vitae quam congue sed aliquam ligula iaculis. Sed sollicitudin facilisis magna vel auctor. Proin purus lectus, gravida ac ultricies a, bibendum ut dui. Suspendisse scelerisque lobortis ullamcorper. Sed laoreet luctus suscipit. Curabitur urna ante, commodo in dapibus mattis, facilisis vel tellus.</p>
      <p class="textomini"><img src="images/separador.gif" width="295" height="22" /></p>
      <h4><a href="patas">Loren ipsum dolor sit amet</a></h4>
      <p class="textomini">&nbsp;</p>
      <p class="textomini">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis sem ante, quis dapibus elit. Cras cursus purus vitae quam congue sed aliquam ligula iaculis. Sed sollicitudin facilisis magna vel auctor. Proin purus lectus, gravida ac ultricies a, bibendum ut dui. Suspendisse scelerisque lobortis ullamcorper. Sed laoreet luctus suscipit. Curabitur urna ante, commodo in dapibus mattis, facilisis vel tellus.</p>
      <p class="textomini"><img src="images/separador.gif" width="295" height="22" /></p>
      <h4>Loren ipsum dolor sit amet</h4>
      <p class="textomini">&nbsp;</p>
      <p class="textomini">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis sem ante, quis dapibus elit. Cras cursus purus vitae quam congue sed aliquam ligula iaculis. Sed sollicitudin facilisis magna vel auctor. Proin purus lectus, gravida ac ultricies a, bibendum ut dui. Suspendisse scelerisque lobortis ullamcorper. Sed laoreet luctus suscipit. Curabitur urna ante, commodo in dapibus mattis, facilisis vel tellus.</p>
      <p class="textomini"><img src="images/separador.gif" width="295" height="22" /></p>
      <h4>Loren ipsum dolor sit amet</h4>
      <p class="textomini">&nbsp;</p>
      <p class="textomini">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis sem ante, quis dapibus elit. Cras cursus purus vitae quam congue sed aliquam ligula iaculis. Sed sollicitudin facilisis magna vel auctor. Proin purus lectus, gravida ac ultricies a, bibendum ut dui. Suspendisse scelerisque lobortis ullamcorper. Sed laoreet luctus suscipit. Curabitur urna ante, commodo in dapibus mattis, facilisis vel tellus.</p>
      <p class="textomini"><img src="images/ver.png" width="295" height="30" /></p>
      </div>
      <div class="spacer2"></div>
    </div>
  </div>
  <div class="pie"><a href="http://www.alimentosartesanos.com" target="_blank"><img src="images/logo_reyno.png" width="103" height="91" /><img src="images/logo_artesanos.png" width="92" height="94" /></a>
 <div class="creditos"><p class="txtcreditos">©2011 laket artesanos | Pol.Utzubar Calle E P-10 31839 Arbizu (Navarra)  | <a href="legoland">nota legal</a></p>
 </div> 
 </div>
</div>
</body>
</html>




<h1>Listing products</h1>

<table>
  <tr>
    <th>Name product</th>
    <th>Category</th>
    <th>Ingredients</th>
    <th>Expration</th>
    <th>Conservation</th>
    <th>Format</th>
    <th>Specialformat</th>
    <th>Preparation</th>
    <th>Moreinfo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name_product %></td>
    <td><%= product.categories.category_name %></td>
    <td><%= product.ingredients %></td>
    <td><%= product.expration %></td>
    <td><%= product.conservation %></td>
    <td><%= product.format %></td>
    <td><%= product.specialformat %></td>
    <td><%= product.preparation %></td>
    <td><%= product.moreinfo %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %></td>
<% product.images.each do |image| %>
<td>sssaaa<%= image.image_file_name %></td>
<td>	<% if image.image? %>
	 <%= image_tag image.image.url(:medium) %>
	<br />
	 <%= link_to image.image.url, image.image.url %>
	<% end %> </td>

<% end %>




  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
