<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @image.product_id %>
</p>

<p>
  <b>Image file name:</b>
  <%= @image.image_file_name %>
</p>

<p>
  <b>Image content type:</b>
  <%= @image.image_content_type %>
</p>

<p>
  <b>Image file size:</b>
  <%= @image.image_file_size %>
</p>

<p>
  <b>Image upadte at:</b>
  <%= @image.image_upadte_at %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
